[core]
  editor = vi
  autocrlf = input 
  excludesfile = ~/.gitignore

[user]
  name = Stefan Oderbolz
  email = oderbolz@gmail.com

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  cur = !git branch | grep \"*\" | sed \"s/* //\"
  up = !git rev-parse --symbolic-full-name --abbrev-ref @{u} 2>/dev/null | grep -v @{u} || echo "origin/master"
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
  lg = log --decorate --pretty=oneline --abbrev-commit
  lol = !git lg --graph
  lola = !git lol --all
  ld = !echo "Diff to `git up`:" && git lg ..`git up`
  last = show -s HEAD^{commit}
  fu = !git fetch && git ld
  newstash = stash -u
  dc = clean -d -x -n
  fc = clean -d -x -f
  cleandir = !git stash -u && git stash drop
  stat = log --stat
  rhh = reset --hard HEAD
  ls = ls-files
  wdiff = diff --word-diff

[color]
  ui = true

[push]
  default = current

[tig]
  show-rev-graph = yes
  show-refs = yes
  show-line-numbers = yes
  line-graphics = utf-8
[tig "bind"]
  status= A !git commit --amend
  status= N !git commit --no-verify
  generic= W !git diff --word-diff --cached %(file)
[rerere]
  enabled = true
